// styles/auth.scss
@use '@/styles/globals.scss' as *;

.authLayout {
  position: relative;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; // fallback
  overflow-y: scroll;

  .authOverlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @include mobile {
      padding: 1rem;
    }
    .authContainer {
      margin: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }

    .authContainer > svg,
    .authContainer > img {
      width: 120px;
      height: auto;
      filter: drop-shadow(0 0 14px rgba(255, 255, 255, 0.25));
    }
  }
  .authModal {
    background-image: linear-gradient(135deg, rgba(22, 29, 41, 1) 0%, rgba(36, 45, 62, 0.8) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    color: white;

    @include mobile {
      padding: 1.5rem;
    }
  }
}
