@use '@/styles/globals.scss' as *;

.redirectModal {
  text-align: center;

  h4 {
    margin-top: 1rem;
    font-size: 1.2rem;

    span {
      display: block;
      margin-top: 0.5rem;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
}

.wrapper {
  background-color: transparent;
  height: 100dvh;
  padding-top: 10px;

  .container {
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;

    .sideContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .auth {
      // overflow-y: auto;
      height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      color: white;
      .banner {
        position: fixed;
        top: 0px;
        right: 50px;
        z-index: 200;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        padding: 50px 30px 20px 30px;
        font-weight: 900;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include tablet {
          padding: 20px 40px;
          font-size: 15px;
          text-align: center;
          right: 0;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}
